<h3>Departments</h3>
<section class="main-table-section">
  <table mat-table [dataSource]="departments$ | async" class="mat-elevation-z8 demo-table" id="table">
    <!-- Position Column -->
    <ng-container matColumnDef="Department Number">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let dept" class="dept-no"> {{dept.dept_no}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Department Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let dept">- {{dept.dept_name}} -</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Department Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let dept">
        <p>Green</p>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<section class="select-department">
  <app-selected-dept></app-selected-dept>
</section>