<div class="flex-centered hover">
  <aside>
    <menu role="menu hover" id="side-menu">
      <ul>
        <li class="side-menu-item" id="logo">
          <div class="side-menu-item-wrapper" routerLink="/" id="logo">
            <div class="side-menu-icon">
              <img class="svg-icon" src="assets/logo.png" alt="menu-icon">
            </div>
            <div class="side-menu-text">
              <p> DBI LLC </p>
            </div>
          </div>
        </li>
        <hr style="height:1px;border-width:0;color:gray;background-color:gray;width:90%;">
        <li class="side-menu-item">
          <div class="side-menu-item-wrapper" routerLink="metrics">
            <div class="side-menu-icon">
              <img class="svg-icon" src="assets/003-report.png" alt="menu-icon">
            </div>
            <div class="side-menu-text">
              <a> Metrics </a>
            </div>
          </div>
        </li>
        <!-- <li class="side-menu-item">
          <div class="side-menu-item-wrapper" routerLink="managers">
            <div class="side-menu-icon">
              <img class="svg-icon" src="assets/001-team.png" alt="menu-icon">
            </div>
            <div class="side-menu-text">
              <a> Managers </a>
            </div>
          </div>
        </li>
        <li class="side-menu-item">
          <div class="side-menu-item-wrapper" routerLink="employees">
            <div class="side-menu-icon">
              <img class="svg-icon" src="assets/005-team-1.png" alt="menu-icon">
            </div>
            <div class="side-menu-text">
              <a> Employees </a>
            </div>
          </div>
        </li> -->
        <li class="side-menu-item">
          <div class="side-menu-item-wrapper" routerLink="departments">
            <div class="side-menu-icon">
              <img class="svg-icon" src="assets/004-network.png" alt="menu-icon">
            </div>
            <div class="side-menu-text">
              <a> Departments </a>
            </div>
          </div>
        </li>
        <li class="side-menu-item">
          <div class="side-menu-item-wrapper" routerLink="misc">
            <div class="side-menu-icon">
              <img class="svg-icon" src="assets/extra.png" alt="menu-icon">
            </div>
            <div class="side-menu-text">
              <a> Misc </a>
            </div>
          </div>
        </li>
      </ul>
    </menu>
  </aside>
</div>