<div class="cards-container">
  <!-- Card 1 -->
  <div class="card">
    <div class="card-header">
      <p>Departments</p>
    </div>
    <div class="card-body">
      <p>{{ departments.length }}</p>
    </div>
  </div>
    <!-- Card 2 -->
  <div class="card">
    <div class="card-header">
      <p>Employees</p>
    </div>
    <div class="card-body">
      <p>30,000</p>
    </div>
  </div>
    <!-- Card 3 -->
  <div class="card">
    <div class="card-header">
      <p>Managers</p>
    </div>
    <div class="card-body">
      <p>12,334</p>
    </div>
  </div>
    <!-- Card 4 -->
  <div class="card">
    <div class="card-header">
      <p>Total Salary Output</p>
    </div>
    <div class="card-body">
      <p>$24M</p>
    </div>
  </div>
</div>