<div class="container">
  <p class="title">Quick Snapshot</p>
  <!-- List Item 1 -->
  <div class="item">
    <p>Added</p>
    <a>330</a>
  </div>
  <hr>
    <!-- List Item 2 -->
  <div class="item">
    <p>Lost</p>
    <a>330</a>
  </div>
  <hr>
   <!-- List Item 3 -->
   <div class="item">
    <p>Average Salary</p>
    <a>$81,200</a>
  </div>
  <hr>
   <!-- List Item 4 -->
   <div class="item">
    <p>Average Gender</p>
    <a>Male</a>
  </div>
  <hr>
   <!-- List Item 5 -->
   <div class="item">
    <p>Manning Totals</p>
    <a>91%</a>
  </div>
</div>
